{% extends "appdatos/padre.html" %}

{% load static %}

{% block titulo_de_la_pagina %}

<h1 class ="mb-5">Pagina de inicio del blog</h1>




{% endblock %} 

{% block contenido_que_cambia %}
 <h2>{{mensaje}}</h2> 
  {{imagen}}
{% for post in posteos %}
<li>
 <h1>Categoria de {{post.categoria}}</h1> 
                        
 <h1>{{post.titulo}}</h1> 

<form method = "POST" enctype="multipart/form-data">  {% csrf_token %} 
   
    <img src="{{post.imagen}}" alt=""> 
    
</form>  

                             
<h2>{{post.contenido}}</h2> 
                    

<p>Publicado el {{post.publicado}},por {{post.autor}}</p>  
<h2><img src="{% static 'imagen' %}"></h2>                          
 <h2>{{ post.pie_pagina}}</h2>  
 </li>
 
 {% if username == autor %}
 <button>
  <a class="navbar-success" href="{% url 'editarpost' post.id %}">Editar posteo</a>

  <a class="navbar-success" href="{% url 'eliminarpost' post.id %}">Eliminar posteo</a>

 </button>
 {% endif %}
 
 
{% endfor %}


{% endblock %} 