{% extends "appdatos/padre.html" %}

{% load static %}

{% block  titulo_de_la_pagina %}

<h1 class ="mb-5"> Edicion del post de {{ request.user }} </h1>

{% endblock %}

{% block contenido_que_cambia %}

<h1>Edicion del post </h1>
<h1>{{ mensaje }}</h1>
{% if request.user == posteo.autor %}
<form action="{% url 'editarpost' %}" method="POST"> {% csrf_token %}


    {{ formulario.as_p}}

    <button type="submit"> Guardar cambios</button>




</form>
{% else %}
<h2>No se puede modificar este post porque tu no eres su autor</h2>
{% endif %}

{% endblock %}