{% extends "appdatos/padre.html" %}

{% load static %}

{% block titulo_de_la_pagina %}

<h1 class ="mb-5">Bienvenido {{user}}.inbox  </h1>

{% endblock %} 

{% block contenido_que_cambia %}

{% for inboxs in inbox %}
<div class="div_inbox">
    {% for segundo_user in inbox.canalusuario_set.all %}

     {% if segundo_user.usuario == request.user %}

     {% else %}
     <a href="{% url 'detailmsg' segundo_user.usuario.username %}">
       <p>
         {{segundo_user.usuario}}
       </p>
       <small>
        ({{inboxs.canalmsg_set.count}}) Mensajes
       </small>

     </a>
     {% endif %}

    {% endfor %}

    {% if inboxs.canalmsg_set.count != 0 %}
     <div class="div_msg_inbox">

        {% with ultimo_mensaje=inbox.canalmsg_set_last %}
        <p>

            Ultimo mensaje:{{ultimo_mensaje.texto}}
        </p>

        <p>

            Enviado por :{{ultimo_mensaje.usuario}}
        </p>
        {% endwith %}
     </div>

    {% else %}
    <p>
        No hay mensajes en el buzon 
    </p>
    {% endif %}

</div>
{% empty %}
<h2>Inbox vacio</h2>
{% endfor %}

{% endblock %} 