{% extends "appdatos/padre.html" %}

{% load static %}

{% block titulo_de_la_pagina %}


{% endblock %}
<h1 class ="mb-5"> Listado de vehiculos registrados a {{ usuario }} </h1>

{% block contenido_que_cambia %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}

<h1>Lista de vehiculos</h1>

{% for auto in vehiculo %}

<h2>{{ auto.modelo }},{{ auto.marca }},{{ auto.patente }},{{ auto.patente }},{{ auto.año_vehiculo }},{{ auto.valor }},{{ auto.dueño_vehiculo }},{{ auto.descripcion }},</h2>

<button>
    <a class="btn btn-success" href="{% url 'eliminarvehiculo' auto.id %}">Eliminar  </a>
    <a class="btn btn-success" href="{% url 'editarvehiculo' auto.id %}">Editar  </a>
</button>

{% endfor %}

{% endif %}
<a class="btn btn-success" href="{% url 'formulariovehiculo' %}">Agregar vehiculo </a>
{% endblock %}