{% extends "appdatos/padre.html" %}

{% load static %}

{% block titulo_de_la_pagina %}



<h1 class ="mb-5" >Buzon de entrada</h1>



{% endblock %}


{% block contenido_que_cambia %}






 <h1>Resultados busqueda</h1>
  
 
  
   {% for msg in mensajes %}
  
  <h2>Enviado por:{{ msg.emisor }}</h2>
  <h2>Para:{{ msg.receptor }}</h2>
  <h2>Mensaje:{{ msg.texto }}</h2>
  <h2>Fecha de emision:{{ msg.fecha }}</h2>
   -----------------------------------------
  
 
   {% endfor %}
 

    





 

  

{% endblock %}
{% block scripts %}



{% endblock %}