{% extends "appdatos/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="mb-5">Buzon de mensajes</h1>
{% endblock %}


{% block contenido_que_cambia %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}


<h1>Resultados busqueda</h1>

{% for msg in mensajes %}

<h2>Enviado por:{{ msg.emisor }}</h2>
<h2>Para:{{ msg.receptor }}</h2>
<h2>Mensaje:{{ msg.texto }}</h2>
<h2>Fecha de emision:{{ msg.fecha }}</h2>
--

{% endfor %}

{% endif %}

{% endblock %}
{% block scripts %}



{% endblock %}