{% extends "appdatos/padre.html" %}

{% load static %}

{% block titulo_de_la_pagina %}

<h1 class ="mb-5">Acerca de los creadores de la pagina </h1>



{% endblock %} 

{% block contenido_que_cambia %}

<p>¡Hola mi nombre es Diego Oliva! uno de los creadores de la pagina, tengo 21 años en este año(2022), estudie en un colegio publico de la provincia de Cordoba 
Argentina, soy un estudiante de programacion amante de todo lo que tenga que ver con la tecnologia del area de la Pc, por temas de la pandemia tuve que atrasar los estudios a nivel 
universitario pero me dio el tiempo para ver que es lo que queria estudiar y a que me queria dedicar por el resto de mi vida asi que empece haciendo un curso 
de programacion basico de java y la verdad que me encanto y este año me anime a otro lenguaje de programacion que se enfoca en otra area la cual no he visto en en el 
primer curso que hice y la verdad que me atrapo al igual que la primera vez que programe algo, espero que este año se me de y pueda estudiar tecnicatura en desarrolo de software
la cual contiene los contenidos que he visto en los cursos que he realizado y espero que me atrape como lo ha hecho el mundo de la programacion. Espero que tengan un buen dia y un saludo 
muy grande desde Cordoba Argentina</p>

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<p>
   “Hola! Mi nombre es Diego Hernán Galli tengo 31 años. Soy de Lanús, provincia de Buenos Aires, Argentina. 
    Estudié Lic. En Audiovisión en la Universidad Nacional de Lanús y actualmente estudio contabilidad en la UBA
    y trabajo en la administración de locales gastronómicos. 
    Además, soy músico de Albrío. Decidí estudiar Python para desarrollarme en Data Analytics”
</p>





{% endblock %} 